{% extends 'book/library.html' %}

{% block content %}
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_img.as_p }}
        <button type="submit">Upload</button>
    </form>

{% for i in data %}
    <tr  style="background-color:#F7D2D2;color:#000000;"   >
        <td>{{ i.name}}</td>

        <div class="col-md-4">
                     <img src="{{ i.hotel_Main_Img.url }}" class="img-responsive"
                          style="width: 50%; float: left; margin-right: 10px;" />
 </div>
    </tr>
    {% endfor %}
{% endblock %}
