{% extends 'book/library.html' %}
{% block content %}


{% for i in data %}

<div class="container" >
    <div class="row">
        <div class="col-sm-4" >

<p> ID	: {{ i.Sno }} </p>
            <h2>Personal Details</h2>
<p> First Name	: {{ i.First_name }} </p>
<p> Surname	: {{ i.Surname }} </p>
<p> DOB	: {{ i.DOB }} </p>
            <p> Age	: {{ i.Age }} </p>
            <p> Height	: {{ i.Height }} </p>
            <p> Gender	: {{ i.Gender }} </p>
<p> Father Name	: {{ i.Father_name }} </p>

<p> Skin Tone	: {{ i.Skin_tone }} </p>
<p> Study	: {{ i.Study }} </p>
<p> Occupation	: {{ i.Occupation }} </p>






        </div>

                <div class="col-sm-4" >
            <h2>Family Details</h2>


<p> Siblings	: {{ i.Siblings }} </p>

<p> Father Occupation	: {{ i.Father_Occupation }} </p>
<p> Mother Name	: {{ i.Mother_name }} </p>
<p> Mother Occupation	: {{ i.Mother_Occupation }} </p>
<p> Religion	: {{ i.Religion }} </p>
<p> Cast	: {{ i.Sub_cast }} </p>
<p> Denomination	: {{ i.Denomination }} </p>
<p> Mother Tongue	: {{ i.Mother_tongue }} </p>

        </div>

        <div class="col-sm-4" >
            <div class="row">
        <img src="{{ i.Image_profile.url }}" class="img-responsive"
                          style="width: 50%; float: left; margin-right: 10px;" />
            </div>
                </br>
            <div class="row">
        <p> Address	: {{ i.Address }} </p>
        <p> Mobile	: {{ i.Contact_number }} </p>
            </div>
        </div>


    </div>

</div>


     {% endfor %}
{% endblock %}
