{% extends 'book/library.html' %}
{% block content %}

<div class="container">
    <div class="row">
          <div class="col-sm-4">
  <table class="table"  >
    <thead >
      <tr style="background-color:#EC9A9A;color:#000000;">
        <th>Item</th>
        <th>Amount</th>
        <th>Edit</th>
          <th>Delete</th>
      </tr>

    {% for book in shelf %}
    <tr  style="background-color:#F7D2D2;color:#000000;"   >
        <td>{{ book.name}}</td>
        <td>{{ book.amount}}</td>
        <td><a href="getdata/{{book.id}}" class="btn btn-warning"style="background-color:#F2F829;color:#000000;"  id = '{{book.id}}'>Edit</a></td>
        <td><a href="getdata/{{book.id}}" class="btn btn-warning"style="background-color:#F2F829;color:#000000;" id = '{{book.id}}'>Delete</a></td>
    </tr>
    {% endfor %}
    </thead>
  </table>
</div>
</div>
</div>
{% endblock %}

