    {% extends 'book/library.html' %}
    {% block content %}
<center>
            <div class="container">
	    <div class="row">
          <div class="col-sm-4">
        <h1  style="background-color:#000000;color:#FFFF99;">Enter Data</h1>
        <form method = 'POST' enctype="multipart/form-data">
            {% csrf_token %}
            <table class = 'w-50 table table-light'>
                {% for field in upload_form %}
                <tr>
                    <th>{{field.label}}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-lg btn-warning">Submit</button>
        </form
            </div>
    </div>
    </div>
</center>
    {% endblock %}


